<!DOCTYPE html>
<html layout:decorator="_layout/layout">
    <head>
        <title>Tecsup</title>
    </head>

    <body>
        <div layout:fragment="CONTAINER">
            <section id="panamericanoVUE" class="animated fadeInDown  m-t-sxl" v-cloak="">
                <div class="container-fluid">
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <h2 class="text-primary">
                                Deportes
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <img src="https://gestion.pe/resizer/Wc0ZsrXy6yJJzoVlS3LwkwoimVo=/940x569/smart/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/VE5OEES6CJDQHEVJWWSKRPDOJE.jpg"/>
                    </div>
                </div>
            </section>
        </div>
        <div layout:fragment="JS">
            <script th:inline="javascript">
                /*<![CDATA[*/
                var rutaModulo = /*[[${rutaModulo}]]*/ null;
                /*]]>*/
            </script>
            <script th:src="@{/app/panamericano.js}"></script>
        </div>
    </body>
</html>


